/*
Custom Css
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contenido {
  flex: 1 0 auto;
}

#tempaltemo_footer {
  flex-shrink: 0;
  background-color: #212934; /* Cambia si usas otro color */
  margin: 0;
  padding: 20px 0;
  border: none;
}
