/*
Custom Css
*/
tml, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main.contenido {
  flex: 1 0 auto;
}

footer, #tempaltemo_footer {
  flex-shrink: 0;
}