
    <head th:replace="~{fragments/header :: head}"></head>

    <title>StepStyle Shop</title>

<body>

    <!-- Navbar o Encabezado de página -->

    <nav th:replace="~{fragments/header :: header}"></nav>

    <!-- Carrosusel -->
    <main class="contenido">
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Buscar ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="template-mo-stepstyle-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <!-- <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-stepstyle-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-stepstyle-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-stepstyle-hero-carousel" data-bs-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="/img/banner_img_01.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>StepStyle</b></h1>
                                <h3 class="h2">Calzados a tu medida</h3>
                                <p>
                                    Bienvenido a StepStyle, tu tienda de calzado y accesorios.
                                    Aquí encontrarás una amplia variedad de productos para todos los gustos y estilos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="/img/banner_img_02.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Los mejores accesorios</h1>
                                <h3 class="h2">Alta calidad</h3>
                                <p>
                                    En StepStyle nos preocupamos por ofrecerte productos de alta calidad.
                                    Nuestros accesorios son perfectos para complementar tu estilo y hacerte destacar.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="/img/banner_img_03.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Compra sin problemas</h1>
                                <h3 class="h2">Puedes pedir reembolso</h3>
                                <p>
                                    Accesorios y calzados de alta calidad.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-stepstyle-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-stepstyle-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>

<!--  Categorías  -->

    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categorías</h1>
                <p>
                    Aquí te presentamos una selección de nuestras categorías más populares.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="/img/category_img_01.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Relojes</h5>
                <p class="text-center"><a class="btn btn-success">Ir a la Tienda</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="/img/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Zapatos</h2>
                <p class="text-center"><a class="btn btn-success">Ir a la Tienda</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Accesorios</h2>
                <p class="text-center"><a class="btn btn-success">Ir a la Tienda</a></p>
            </div>
        </div>
    </section>

    <!-- Productos Destacados -->

    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Productos Destacados</h1>
                    <p>
                        Aquí te presentamos una selección de nuestros productos más destacados.
                        Puedes ver más detalles haciendo clic en el nombre.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="public/shop-single.html">
                            <img src="/img/feature_prod_01.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">S/240.00</li>
                            </ul>
                            <a href="public/shop-single.html" class="h2 text-decoration-none text-dark">Botella Deportiva</a>
                            <p class="card-text">
                                Botella deportiva de 1.3 litros de capacidad de la marca Mountain Gear.
                            </p>
                            <p class="text-muted">Reseñas (24)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="public/shop-single.html">
                            <img src="/img/feature_prod_02.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">S/480.00</li>
                            </ul>
                            <a href="public/shop-single.html" class="h2 text-decoration-none text-dark">Zapatillas Mujer Nike</a>
                            <p class="card-text">
                                Zapatillas Nike para mujer, ideales para correr y hacer ejercicio. Urbanas blanco court royale.
                            </p>
                            <p class="text-muted">Reseñas (48)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="public/shop-single.html">
                            <img src="/img/feature_prod_03.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">S/360.00</li>
                            </ul>
                            <a href="public/shop-single.html" class="h2 text-decoration-none text-dark">Zapatos Adidas Samba</a>
                            <p class="card-text">
                                Zapatos Adidas Samba, ligeros y cómodos para el clima cálido.
                            </p>
                            <p class="text-muted">Reseñas (74)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>

    <!-- Footer y scripts -->

    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <div th:replace="~{fragments/footer :: scripts}"></div>

</body>

</html>